homeassistant:
  name: iHome
  latitude: !secret latitude_coord
  longitude: !secret longitude_coord
  elevation: 211
  unit_system: metric
  country: RU
  time_zone: Europe/Moscow
  packages: !include_dir_merge_named includes/packages
  allowlist_external_dirs:
    - "/config/tmp/"

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:
frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /local/card-mod.js

homekit:
  filter:
    include_entities:
      - script.gate_step_mode
      - script.gate_pedestrian_crossing

# alarm_control_panel:
#   - platform: manual
#     name: Home Alarm
#     code_arm_required: false
#     arming_time: 30
#     delay_time: 20
#     trigger_time: 4
#     arming_states:
#       - armed_away
#       - armed_home
#     disarmed:
#       trigger_time: 0
#     armed_home:
#       arming_time: 0
#       delay_time: 0

# Text to speech
tts:
  - platform: google_translate

# Вынос во внешние файлы
automation: !include_dir_merge_list includes/automation
# binary_sensor: !include_dir_merge_list includes/binary_sensor
# camera: !include includes/camera.yaml
# group: !include includes/groups.yaml
light: !include includes/light.yaml
recorder: !include includes/recorder.yaml
# scene: !include includes/scenes.yaml
# script: !include includes/scripts.yaml
# sensor: !include_dir_merge_list includes/sensor
# timer: !include includes/timer.yaml
# yeelight: !include includes/yeelight.yaml
template: !include_dir_list includes/template

lovelace:
  resources:
    - url: /local/simple-thermostat.js?v=1
      type: module

# Платформа телеграмм уведомлений
notify:
  - platform: group
    name: alarm
    services:
      - service: mobile_app_artemevk
      - service: mobile_app_artemevp

shell_command:
  push_to_github: cd /config && bash ./ha_gitpush.sh
