homeassistant:
  name: iHome
  latitude: !secret latitude_coord
  longitude: !secret longitude_coord
  elevation: 211
  unit_system: metric
  country: RU
  time_zone: Europe/Moscow
  packages: !include_dir_merge_named includes/packages
  allowlist_external_dirs:
    - "/config/tmp/"

# Configure a default setup of Home Assistant (frontend, api, etc)
default_config:

homekit:
  filter:
    include_entities:
      - alarm_control_panel.home_alarm
      - script.gate_step_mode
      - script.gate_pedestrian_crossing

# alarm_control_panel:
#   - platform: manual
#     name: Home Alarm
#     code_arm_required: false
#     arming_time: 30
#     delay_time: 20
#     trigger_time: 4
#     arming_states:
#       - armed_away
#       - armed_home
#     disarmed:
#       trigger_time: 0
#     armed_home:
#       arming_time: 0
#       delay_time: 0

# Text to speech
tts:
  - platform: google_translate

# Вынос во внешние файлы
automation: !include_dir_merge_list includes/automation
# binary_sensor: !include_dir_merge_list includes/binary_sensor
# camera: !include includes/camera.yaml
group: !include includes/groups.yaml
light: !include includes/light.yaml
recorder: !include includes/recorder.yaml
# scene: !include includes/scenes.yaml
# script: !include includes/scripts.yaml
sensor: !include_dir_merge_list includes/sensor
# timer: !include includes/timer.yaml
# yeelight: !include includes/yeelight.yaml
template: !include includes/template.yaml

frontend:
  extra_module_url:
    - /local/card-mod.js

lovelace:
  resources:
    - url: /local/simple-thermostat.js?v=1
      type: module

# command_line:
#   - sensor:
#       name: CPU Temperature
#       command: "cat /sys/class/thermal/thermal_zone0/temp"
#       # If errors occur, make sure configuration file is encoded as UTF-8
#       unit_of_measurement: "°C"
#       value_template: "{{ value | multiply(0.001) | round(1) }}"

# Платформа телеграмм бота
# telegram_bot:
#   - platform: polling
#     api_key: !secret api_token_bot
#     allowed_chat_ids:
#       - !secret tlg_user1_id
#       - !secret tlg_user2_id
#       - !secret tlg_user3_id
#       - !secret tlg_user4_id
#       - !secret tlg_user5_id

# Платформа телеграмм уведомлений
notify:
  #   - platform: telegram
  #     name: tlg_user1_id
  #     chat_id: !secret tlg_user1_id
  #   - platform: telegram
  #     name: tlg_user2_id
  #     chat_id: !secret tlg_user2_id
  #   - platform: telegram
  #     name: tlg_user3_id
  #     chat_id: !secret tlg_user3_id
  #   - platform: telegram
  #     name: tlg_user4_id
  #     chat_id: !secret tlg_user4_id
  #   - platform: telegram
  #     name: tlg_user5_id
  #     chat_id: !secret tlg_user5_id
  #   - platform: group
  #     name: all_telegram
  #     services:
  #       - service: tlg_user1_id
  #       - service: tlg_user2_id
  #       - service: tlg_user3_id
  #       - service: tlg_user4_id
  #       - service: tlg_user5_id
  - platform: group
    name: alarm
    services:
      - service: mobile_app_artemevk
      - service: mobile_app_artemevp

shell_command:
  push_to_github: cd /config && bash ./ha_gitpush.sh
